<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div1">
    <ion-icon class= "local" name="location-outline"></ion-icon> <b class="taboao">Taboão da serra, SP</b>  <img class="img1" src="../../assets/user.png" width="300px"/>
  </div>
  <div class="div2">
    <b>Seja bem vindo</b>
    <h2>Vamos pedir ítens fresquinhos pra voce?</h2>
  </div>
  <b class="categorias">Categorias</b>
  <div class="div3">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button class="btnvd"><img src="../../assets/frutas.png" width="60px"/> Frutas</ion-button></ion-col>
        <ion-col><ion-button class="btnaz"><img src="../../assets/diversos.png" width="60px"/>Diversos</ion-button></ion-col>
        <ion-col><ion-button class="btnmr"><img src="../../assets/acougue.png" width="60px"/>Açougue</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
