<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

 <div class="image1">
  <img src="../../assets/home-image.png" width="300px"/>
 </div>

 <div>
  <h1 class="text1">Entregamos mantimentos á sua porta</h1>
  <h3 class="text2">A mercearia oferece vegetais e frutas frescas. Encomende ítens frescos na mercearia.</h3>
  
 </div>
<div class="divbotao">
  <ion-button  shape="round" class="botao" > Iniciar  <ion-icon name="arrow-forward-outline" class="ion"></ion-icon></ion-button>
  
</div>
 



</ion-content>
